.text-primary {
  font-family: verdana;
  font-size: 3.5em;
  font-color: gray;
  text-align: center;
}
h3 {
  font-family: times;
  text-align: center;
  font-size: 1.5em;
}
.portrait {
  display: block;
  margin: 0 auto;
}
ul {
  font-family: verdana;
  width: 50%;
  line-height: 2.5em;
  float: center;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 30px;
  position: center;
  text-align: left;
  diplay: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.caption {
  text-align: center;
  font-size: .90em;
  width: 30%;
}
h3 {
  font-family: verdana;
  font-family: verdana;
  width: 46%;
  line-height: 2em;
  float: center;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 2px;
  position: center;
  text-align: center;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
